body{
    margin:0 auto;
    background-color: aquamarine;
}
.topimage img{
    width: 100%;
    border:none;
    background-color: gray;
}
.bottomgrey img{
    background-color: gray;
    border: 6px solid black;
    border-radius: 50em;
    width:6%;
    margin: 100px auto;
    padding: 10px
}

.bottomgrey{
    width:100%;
    background-color: gray;
}

img{
    margin:0 auto;
}
