body{
    background-color:black;

}
main, img{
    width:300px;
    background-color: white;
    border-radius: 20px 20px 0 0;

}
h1{
    color:#4a6189;
    font-size: 12px;
}

#msg-sanfran{
    text-align: center;
    font-size: 18px;
    padding: 12%;
    margin-top: auto;
}
footer{
    width: 300px;
    background-color:#4a6189;
    border-radius: 0 0 20px 20px;
}


.bottomtext {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
}

